.footer {
  background: white;
  margin-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;

    .main__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .info {
      font-weight: 500;
      font-size: 11px;
      line-height: 14px;
      margin: 24px 0;
      display: flex;
      flex-direction: column;

      p, a {
        margin: 4px 0;
      }
    }

    a {
      transition: .3s;
    }

    a:hover {
      color: gray;
    }

    .title__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .title {
      .title__main {
        color: black;
        font-weight: 800;
        font-size: 38px;
        line-height: 46px;
      }

      .title__info {
        color: #f5453d;
        line-height: 14px;
        font-weight: 600;
        font-size: 11px;
        text-align: right;
      }
    }

    .payments__icons {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;

      .payment {
        height: 150px;
        width: 100%;
      }
    }

    .contacts {
      .instagram {
        display: flex;
        align-items: center;
        height: 34px;
        padding-left: 40px;
        font-size: 11px;
        font-weight: 600;
        color: #f5453d;
      }
    }
  }
}

@media (min-width: 1441px) {
  .footer {
    .container {
      .info {
        font-size: 15px;
        line-height: 18px;
      }

      .title {
        .title__main {
          font-size: 50px;
          line-height: 61px;
        }

        .title__info {
          line-height: 18px;
          font-size: 15px;
        }
      }

      .contacts {
        .instagram {
          height: 34px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 513px) and (max-width: 1199px) {
  .footer {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 512px) {
  .footer {
    padding: 15px 50px;

    .container {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      .info {
        order: 3;
        font-size: 8px;
        line-height: 10px;
        margin: 0 0;

        .oferta {
          margin-top: 10px;
          font-size: 10px;
          line-height: 12px;
        }
      }

      .title__flex {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .title {
          .title__main {
            font-size: 18px;
            line-height: 22px;
            text-align: right;
          }

          .title__info {
            line-height: 11px;
            font-size: 9px;
          }
        }
      }

      .contacts__flex {
        margin: 10px 0 6px;
        order: 2;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .contacts {
          .instagram {
            display: flex;
            align-items: center;
            height: 20px;
            padding-left: 25px;
            font-size: 8px;
            line-height: 10px;
            background-size: 20px 20px !important;
          }
        }
      }
    }
  }
}
